[submodule "libov"]
	path = libov
	url = https://github.com/christofmuc/libov.git 
[submodule "zita-njbridge"]
	path = zita-njbridge
	url = https://github.com/digital-stage/zita-njbridge.git
[submodule "third_party/vcpkg"]
	path = third_party/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "third_party/getopt-for-windows"]
	path = third_party/getopt-for-windows
	url = https://github.com/Chunde/getopt-for-windows.git
